-
  spine.character.competences = {
    view: [
      {
        name: 'competence_name',
      },
      {
        name: 'competence_desc',
      },
      {
        name: 'competence_usage_max',
        label: 'max : ',
      },
      {
        name: 'competence_usage',
        label: 'Utilisations : ',
        type: 'number',
      }
    ],
    fields: [
      {
        name: 'competence_name',
        label: 'Nom de la compétence',
        type: 'text',
        value: '',
      },
      {
        name: 'competence_desc',
        label: 'Description',
        type: 'textarea',
        value: '',
      },
      {
        name: 'competence_usage_max',
        label: 'Nombre d’utilisations',
        type: 'number',
        value: '0',
      },
    ]
  }