-
  spine.character.cultures = {
    view: [
      {
        name: 'culture_name',
      },
      {
        name: 'culture_desc',
      },
    ],
    fields: [
      {
        name: 'culture_name',
        label: 'Nom de la culture',
        type: 'text',
        value: '',
      },
      {
        name: 'culture_desc',
        label: 'Description',
        type: 'textarea',
        value: '',
      },
    ]
  }