-
  spine.character.equipement = {
    view: [
      {
        name: 'equipement_name',
      },
      {
        name: 'equipement_truc1',
      },
      {
        name: 'equipement_truc2',
      },
      {
        name: 'equipement_truc3',
      },
    ],
    fields: [
      {
        name: 'equipement_name',
        label: 'Nom et description',
        type: 'text',
        value: '',
      },
    ],
    trucs: [
      {
        name: 'equipement_truc1',
        type: 'text',
        value: '',
      },
      {
        name: 'equipement_truc2',
        type: 'text',
        value: '',
      },
      {
        name: 'equipement_truc3',
        type: 'text',
        value: '',
      },
    ]
  }