-
  spine.character.maitrises = {
    view: [
      {
        name: 'maitrise_name',
      },
      {
        name: 'maitrise_desc',
      },
    ],
    fields: [
      {
        name: 'maitrise_name',
        label: 'Nom de la maitrise',
        type: 'text',
        value: '',
      },
      {
        name: 'maitrise_desc',
        label: 'Description',
        type: 'textarea',
        value: '',
      },
    ]
  }