-
  spine.character.points = {
    view : [
      {
        name: 'pv',
        label: 'PV',
        title: 'Points de Vie',
      },
      {
        name: 'pc',
        label: 'PC',
        title: 'Points de Confiance',
      },
      {
        name: 'pr',
        label: 'PR',
        title: 'Ressources',
      },
      {
        name: 'xp',
        label: 'XP',
        title: 'Points d’expérience',
      },
    ],
    fields : [
      {
        name: 'pv',
        label: 'Points de Vie',
        type: 'number',
        value: '10',
      },
      {
        name: 'pv_max',
        label: 'Points de Vie max',
        type: 'number',
        value: '10',
      },
      {
        name: 'pc',
        label: 'Points de Confiance',
        type: 'number',
        value: '2',
      },
      {
        name: 'pr',
        label: 'Ressources',
        type: 'number',
        value: '4',
      },
      {
        name: 'xp',
        label: 'Points d’expérience',
        type: 'number',
        value: '0',
      },
    ]
  }