-
  spine.character.points = {
    view : [
      {
        name: 'hp',
        label: 'PV',
        type: 'number',
        title: 'Points de Vie',
        css: 'point-line',
      },
      {
        name: 'hp_max',
        label: 'PV max',
        css: 'point-line',
      },
      {
        name: 'pc',
        label: 'PC',
        type: 'number',
        title: 'Points de Confiance',
        css: 'point-line',
      },
      {
        name: 'pr',
        label: 'PR',
        type: 'number',
        title: 'Ressources',
        css: 'point-line',
      },
      {
        name: 'xp',
        label: 'XP',
        title: 'Points d’expérience',
        css: 'point-line',
      },
    ],
    fields : [
      {
        name: 'hp_max',
        label: 'Points de Vie max',
        type: 'number',
        value: '10',
      },
      {
        name: 'pc',
        label: 'Points de Confiance',
        type: 'number',
        value: '2',
      },
      {
        name: 'pr',
        label: 'Ressources',
        type: 'number',
        value: '4',
      },
      {
        name: 'xp',
        label: 'Points d’expérience',
        type: 'number',
        value: '0',
      },
    ]
  }