-
  spine.character.talents = {
    view: [
      {
        name: 'talent_name',
      },
      {
        name: 'talent_desc',
      },
      {
        name: 'talent_usage_max',
        label: 'max : ',
      },
      {
        name: 'talent_usage',
        label: 'Utilisations : ',
        type: 'number',
      }
    ],
    fields: [
      {
        name: 'talent_name',
        label: 'Nom du talent',
        type: 'text',
        value: '',
      },
      {
        name: 'talent_desc',
        label: 'Description',
        type: 'textarea',
        value: '',
      },
      {
        name: 'talent_usage_max',
        label: 'Nombre d’utilisations',
        type: 'number',
        value: '0',
      },
    ]
  }