.view-mode
  include character/general_attributes_view

  include character/competences_view

  include character/talents_view

  include character/equipement_view

  include character/relations_view

.edit-mode
  include character/general_attributes_edit

  include character/competences_edit

  include character/talents_edit

  include character/equipement_edit

  include character/relations_edit
