include character/traits
include character/points
include character/blessures
include character/competences
include character/cultures
include character/talents
include character/equipement

mixin character-view(spine)
  .view-mode
    +trait-view(spine)
    +points-view(spine)
    +blessures-view(spine)
    +competences-view(spine)
    +cultures-view(spine)
    +talents-view(spine)
    +equipement-view(spine)

mixin character-edit(spine)
  .edit-mode
    +trait-edit(spine)
    +points-edit(spine)
    +competences-edit(spine)
    +cultures-edit(spine)
    +talents-edit(spine)
    +equipement-edit(spine)
