mixin competences-view(spine)
  .competences-view
    h3 Compétences
    fieldset.repeating_competences
      - const comp = fieldDictionary(spine.competences.view, 'competence')
      .competence-item
        +display-value(comp.name)
      .competence-desc
        +display-value(comp.desc)
        +display-value(comp.used)

mixin competences-edit(spine)
  .competences-edit
    label Compétences :
    fieldset.repeating_competences
      each field in spine.competences.fields
        +display-input(field)