label Nom
  input(type="text", name="attr_nom")
label Description
  textarea(name="attr_description")
label Points de vie
  input(type="number", name="attr_pv")
label Points de confiance
  input(type="number", name="attr_confiance")
label XP
  input(type="number", name="attr_xp")