p
  strong Nom :
  span(name="attr_nom")
p
  strong Description :
  span(name="attr_description")
p
  strong Points de vie :
  span(name="attr_pv")
p
  strong Points de confiance :
  span(name="attr_confiance")
p
  strong XP :
  span(name="attr_xp")
p
  strong Blessures :
.blessures-display
  input(type="checkbox", name="attr_blessure1")
  input(type="checkbox", name="attr_blessure2")
  input(type="checkbox", name="attr_blessure3")
p
  strong Invalide :
  input(type="checkbox", name="attr_invalide")