mixin points-view(spine)
  .points-view
    each field in spine.points.view
      p
        +display-value(field)

mixin points-edit(spine)
  .points-edit
    each field in spine.points.fields
      +display-input(field)