mixin talents-view(spine)
  .talents-view
    h3 Talents
    fieldset.repeating_talents
      - const talent = fieldDictionary(spine.talents.view, 'talent')
      .talent-item
        +display-value(talent.name)
      .talent-desc
        +display-value(talent.desc)
      .talent-usage
        +display-value(talent.usage)
        +display-value(talent.usage_max)

mixin talents-edit(spine)
  .talents-edit
    .section-title Talents
    fieldset.repeating_talents
      each field in spine.talents.fields
        +display-input(field)