mixin trait-view(spine)
  .traits-view
    p
      strong Nom
      span(name="attr_character_name")
    p
      strong Description
      span(name="attr_description")

mixin trait-edit(spine)
  .traits-edit
    label Nom
      input(type="text", name="attr_character_name")
    label Description
      textarea(name="attr_description")