
.cerbere-main
  header.sheet-header
    h1 Fiche de Personnage

  section.dice-section
    h2 Jets de dés
    .dice-buttons
      button(type="roll", value="Jet 1d10 : [[1d10cs>8]]")
      button(type="roll", value="Jet 2d10 : [[1d10cs>8]] [[1d10cs>8]]")
      button(type="roll", value="Jet 3d10 : [[1d10cs>8]] [[1d10cs>8]] [[1d10cs>8]]")

  section.description-section
    h2 Description du personnage

    input(type="checkbox", class="edit-toggle", name="attr_editmode", id="editmode-toggle", hidden)
    label.toggle-edit(for="editmode-toggle") Mode édition

    .view-mode
      p
        strong Nom :
        span(name="attr_nom")
      p
        strong Description :
        span(name="attr_description")
      p
        strong Points de vie :
        span(name="attr_pv")
      p
        strong Points de confiance :
        span(name="attr_confiance")
      p
        strong XP :
        span(name="attr_xp")
      p
        strong Blessures :
      .blessures-display
        input(type="checkbox", name="attr_blessure1")
        input(type="checkbox", name="attr_blessure2")
        input(type="checkbox", name="attr_blessure3")
      p
        strong Invalide :
        input(type="checkbox", name="attr_invalide")

      h3 Compétences
      span(name="attr_competences")

      h3 Talents
      span(name="attr_talents")

      h3 Équipements
      span(name="attr_equipements")

      h3 Relations
      span(name="attr_relations")

    .edit-mode
      label Nom :
        input(type="text", name="attr_nom")
      label Description :
        textarea(name="attr_description")
      label Points de vie :
        input(type="number", name="attr_pv")
      label Points de confiance :
        input(type="number", name="attr_confiance")
      label XP :
        input(type="number", name="attr_xp")

      label Compétences :
        textarea(name="attr_competences")
      label Talents :
        textarea(name="attr_talents")
      label Équipements :
        textarea(name="attr_equipements")
      label Relations :
        textarea(name="attr_relations")
