-
  const spine = {
    sheets: ["character", "bestiary"],
    character: { sheet: 'character' },
    bestiary: { sheet: 'bestiary' },
    gm: {},

    shared: {},
  };

  spine.character.points = {
    view : [
      {
        name: 'pv',
        label: 'PV',
        title: 'Points de Vie',
      },
      {
        name: 'pc',
        label: 'PC',
        title: 'Points de Confiance',
      },
      {
        name: 'pr',
        label: 'PR',
        title: 'Ressources',
      },
      {
        name: 'xp',
        label: 'XP',
        title: 'Points d’expérience',
      },
    ],
    fields : [
      {
        name: 'pv',
        label: 'Points de Vie',
        type: 'number',
      },
      {
        name: 'pv_max',
        label: 'Points de Vie max',
        type: 'number',
      },
      {
        name: 'pc',
        label: 'Points de Confiance',
        type: 'number',
      },
      {
        name: 'pr',
        label: 'Ressources',
        type: 'number',
      },
      {
        name: 'xp',
        label: 'Points d’expérience',
        type: 'number',
      },
    ]
  }

