-
  const spine = {
    sheets: ["character", "bestiary"],
    character: { sheet: 'character' },
    bestiary: { sheet: 'bestiary' },
    gm: {},

    shared: {},
  };

include character/points.spine.pug
include character/competences.spine.pug
include character/cultures.spine.pug
include character/maitrises.spine.pug
include character/talents.spine.pug
include character/equipement.spine.pug